/*Gerais*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family:'Poppins', sans-serif;
    background: #f2fcf3;
    height: 128vh;
}




.row{
    margin: 0;
}
.dropdown-menu.show {
    width: -webkit-fill-available;
}
main.col-md-9.titlesection img {
    width: 18px;
    margin-right: 7px;
}
p, li {
    color: #868E96;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter';
}
.row.btnsfluxoimposto {
    display: flex;
    right: 236px;
}
.row.filtrosf {
    margin-top: 54px;
    margin-left: -316px;
}
.filtrosf select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: min-content;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    font-size: 12px;
}
hr{
    border: 1px solid rgba(74, 163, 229, 0.2);
}
.dropdown.m-3.saldomod.holeritswitch label {
    margin-right: -37px;
}
.dropdown.m-3.saldomod.holeritswitch {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #343A40;
    left: 38px;
}
p.titulo {
    width: 872px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #495057;
}
.row.btnsfluxoimposto.position-absolute a {
    margin-left: 10px;
}
a#btndownload {
    float: right;
    position: absolute;
    right: 124px;
    top: 277px;
    display: none;
}
.holeritecheck {
    margin-right: 7px;
}
.importPlanilha{
    display:none
}
.anexos.s .btn{
    margin-right: -23px !important;
    font-size: 10px;
    margin-left: 13px;
}
img.helpdmd {
    position: absolute;
    right: 25px;
    top: 18px;
}
.impostocheck {
    margin-right: 7px;
}
.obrigado{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */


/* Sucesso/Main */

color: #4FCE66;

}
.contadorselect {
    margin-left: 178px;
    border: 1px solid #74c83c;
    width: max-content;
    border-radius: 5px;
    color: #21ab1f;
    display: none;
}
.btncadproduto{
    margin-left: 180px;
    border: 1px solid #74c83c;
    width: max-content;
    border-radius: 5px;
   
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

height: 46px;
    background: #f2fcf3;
/* Secundária / Main */

color: #74C83C;

}
.importarcsv{
    margin-left: 19px;
    border: 1px solid #38ABFF;
    width: max-content;
    border-radius: 5px;
   
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

height: 46px;
    background: #f2fcf3;
/* Secundária / Main */

color: #38ABFF;

}
li.nav-item {
    padding: 7px;
}

li.nav-item.filtera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 114px;
    height: 34px;
    background: #004578;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
span.x {
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    color: #004578;
    text-align: center;
}

li.nav-item.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: max-content;
    height: 34px;
    background: #DEE2E6;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color:#ADB5BD;
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
}
/*barra de navegação*/

header, .navbar{
    background-color: #f8f9fa;
    box-shadow: 0px 6px 12px rgba(28, 39, 49, 0.05);
    padding: 12px 32px 12px 24px;
    gap: 16px;
    height: 80px;

}
nav.navbar.navbar-expand.pagamentos {
    background: #fff;
    box-shadow: none;
}
.gray{
    color: #868E96;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 180px;
}
.navbar-brand{
    padding: 0;
    color: #fff;
}
.form-group.d-flex {
    margin-left: -8px;
}
.navbar-brand:hover{
    color: #fff;
}
#cartao{
    display:block;
}
#linkCartao, #investimentohora, #histreservas, #acessosbtn, #dados-cadastrais-btn, #eventosbtn{
    border-bottom: 1px solid #4aa3e5;
}
#salario, #horarios, #sindicato, #descontosProventos, #pisctps{
    display: none;
}
#tboutrosp{
    display: none;
    width: 100% !important;
}
#boleto{
    display:none;
}
#qrcode{
    display:none;
}
#saldo, .atestadoTable, .consultaFerias, .suspensao, .estagiario, .ferias{
    display:none;
}
.upload{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 32px 0px;
gap: 12px;

width: 100%;
height: 172px;

/* Primária / 8% */

background: rgba(74, 163, 229, 0.08);
/* Primária / Main */

border: 1px dashed #4AA3E5;
border-radius: 16px;
}
.anexos{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 16px;

width: 872px;
height: 68px;

background: #FFFFFF;
/* Shadow / L */

box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
border-radius: 8px;
}
.btnacoes {
    display: flex;
    position: absolute;
    right: 61px;
    align-items: center;
}
.btnacoes a{
    font-family: 'Inter';
font-style: normal;

font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */
text-decoration: none;

/* Info / Darker */

color: #fff;
}
.mesbtn.ativo{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */


/* Cinza / 100 */

color: #F8F9FA;
width: 74px;
height: 42px;

/* Primária / Main */

background: #4AA3E5;
/* Shadow / XXL */

box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
border-radius: 100px;

}
.mesbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */


/* Cinza / 100 */

color: #4aa3e5;
    width: 74px;
    height: 42px;
    
    /* Primária / Main */
    
    background: #fff;
    /* Shadow / XXL */
    
    box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
    border-radius: 100px;
    border:1px solid #4aa3e5;
}
.importarcsv.m{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 16px;
gap: 8px;

width: 105px;
height: 30px;

/* Primária / Main */

border: 1px solid #4AA3E5;
border-radius: 4px;

}.aluguel{
    display: none;
}
.row.formempresa.m {
    margin-top: 0;
}
#saidasBtn, #vendasBtn{
    border-bottom:1px solid #4aa3e5;

}
nav.navbar.navbar-expand.nfs {
    margin-bottom: -35px;
    background: #fff;
    box-shadow: none;
}
.entradasCompras{
    display: none;
}
.btnemitir{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;
color: #fff !important;
width: 123px;
height: 50px;

/* Info / Darker */

background: #004578;
border-radius: 4px;

}
.row.btnsnfs {
    margin-top: 94px;
    float: right;
    
    margin-left: 97px;
}
li.nav-item.nfitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 43px;
    height: 34px;
    background: #4AA3E5;
    border-radius: 100px;
    margin-left: 20px;
    border-radius: 7px;
    
}
.nfitem a{
    color: #fff !important;
}
.col.col-md-2.submenu {
    left: 248px;
    position: absolute;
    top: 290px;
    z-index: 2;
    border-left: 2px solid #a7ef4b;
    width: fit-content;
}
.row.formempresa label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #343A40;
}
.listaEmails .titulosecao {

    margin-left: 157px;
    width: 100%;
}
.etAzul{
    box-sizing: border-box;

position: absolute;
left: 32%;
    right: 0%;
    top: 11%;
width: 48px;
    height: 28px;

/* Primária / Main */

background: #4AA3E5;
/* Primária / Dark */

border: 1px solid #3664BC;
border-radius: 8px;
}
.etVerde{
    box-sizing: border-box;

position: absolute;
left: 32%;
    right: 0%;
    top: 11%;
width: 48px;
    height: 28px;

/* Primária / Main */

background:  #A7EF4B;
/* Primária / Dark */

border: 1px solid  #A7EF4B;
border-radius: 8px;
}

.etRoxo{
    box-sizing: border-box;

position: absolute;
left: 32%;
    right: 0%;
    top: 11%;
width: 48px;
    height: 28px;

/* Primária / Main */

background:  #9747FF;
/* Primária / Dark */

border: 1px solid  #9747FF;
border-radius: 8px;
}
.row.btnsfinanceiro {
    display: flex;
    right: 236px;
    flex-direction: row;
    flex-wrap: nowrap;
}
.row p b {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
}
.listaaviso ul li{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Primária / Darker */

color: #093270;
}
button.btn.btn-primary {
    background: #4AA3E5;
    border-radius: 4px;
    border: none;
}
.listaaviso{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;
margin-left:20px;
width: 840px;
height: 213px;

/* Info / 8% */

background: rgba(56, 171, 255, 0.08);
/* Primária / Light */

border: 1px solid #58C0ED;
border-radius: 4px;
}
button.btncadproduto.entendabtn {
    float: right !important;
    position: absolute;
    right: 24px;
    top: 21px;
}
label.form-check-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
}
.historicoM, .avulsos, .creditost{
    display: none;
}
p.titulosecao.u.cartoescad {
    margin-bottom: -54px;
    margin-left: 0px;
}
.saldoCreditos{
    width: 147px;
height: 24px;

/* Title / Title-7 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Cinza / 700 */

color: #868E96;
margin-top: -43px;
display:none;

}
.val{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Secundária / Main */

color: #74C83C;
}
.row.btnsfinanceiro.position-absolute .btn {
    width: max-content;
    margin-right: 20px;
    font-size: 13px;
}
a.btn.btn-danger.mensalidadesa {
    background: none;
    color: red;
}
nav.navbar.navbar-expand.financeiro {
    margin-top: 64px;
    border-radius: 9px;
    margin-left: -305px;
}
form.w-100.novolembreteform img, .novolembreteform i {
    margin-top: 16px !important;
}
form.w-100.novolembreteform input {
    padding-left: 39px;
}
.col.col-md-1.radios {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.etVermelho{
    box-sizing: border-box;

position: absolute;
left: 32%;
    right: 0%;
    top: 11%;
width: 48px;
    height: 28px;

/* Primária / Main */

background:  #FF7777;
/* Primária / Dark */

border: 1px solid  #FF7777;
border-radius: 8px;
}

p.titulosecao.titnf {
    margin-left: -188px;
    
}
.nfe{
   
    border-radius: 8px; 
 
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    position: absolute;
    /* width: 1128px; */
    height: auto;
    left: 280px;
    top: 258px;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
    border-radius: 8px;

}
.produtos {
    
    margin-top: 206px;
    margin-left: 0;
    width: 93%;
}
.col-md-2.minbusca.buscaprodutos {
    right: 568px;
    top: -6px;
    width: 286px;
height: 56px;
}
.col-md-2.minbusca.buscaprodutos input {
    
    width: 286px;
height: 56px;
}
.successnf{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;

width: 213px;
height: 50px;

/* Secundária / Main */

background: #74C83C;
border-radius: 4px;

/* Inside auto layout */
}
p.titulosecaos {
    /* margin-left: -30px; */
    width: max-content;
    font-size: 15px;
    /* margin-bottom: 24px; */
    color: #343A40 !important;
    position: absolute;
    left: 499px;
}
.row.table-responsive {
    border-radius: 8px;
}
.col.col-md-9.correspondencia {
    margin-left: 250px;
    box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
}
.navbar-expand-lg .navbar-nav .nav-link{
padding: 1rem .8rem;
color: #fff;
}
.eventosdrop a {
    margin-left: -14px;
}
.dropdown.addevento {
    float: right;
    right: 88px;
    top: -19px;
    
}

.dropdown.addrecisao {
    float: right;
    top: -19px;
    color: #fff;
    right: 183px;
    
}
a.btn.btn-primary.btaddrecisao {
    color: #fff;
    right: -97px;
    float: right;
    position: absolute;
    width: max-content;
}
.col.col-md-10.recisao {
    margin-left: 327px;
    margin-top: 51px;
   
    width: 774px;
}
button.btn.btn-light {
    border-color: #74C83C;
    color: #74C83C;
    transition: .2s;
}
.row.dependentes, .alimentado {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
a.btn.btn-light {
    font-size: 15px;
    color: #74c83c;
}
button.btn.btn-light:hover{
    color: #fff;
    background:#74C83C ;
}
.dropdown.addevento .btn, .dropdown.detalhesrecisao .btn{
    color: #fff;
    background: #4aa3e5;
}
.col-md-11.recisaos.mb-5.mt-3 {
    margin-left: 460px;
    width: 800px;
    background: #fff;
}
p.titulosecaoce {
    margin-bottom: -52px;
    margin-left: 92px;
}
.rcorreio{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
color: #FF8541;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(255, 133, 65, 0.2);
border-radius: 100px;
justify-content: center;
}
.folhaPonto {
    background: #fff;
    border-radius: 7px;
    margin-left: 257px;
    width: 833px;
}
span.slider.round.a {
    margin-left: -279px;
    margin-top: 2px;
}
.formcertificado{
    display:none;
}
table.table.resumo td {
    border: none !important;
}
.registros{
    display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 8px;

width: 168px;
height: auto;

background: #FFFFFF;
/* Primária / Lighter */

border: 1px solid #B8EAFF;
/* Shadow / L */

box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
border-radius: 8px;
margin:5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .pagination{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 376px;
height: 40px;

  }
  li.page-item.active {
    width: 40px;
    height: 40px;
    background: #4AA3E5 !important;
    border-radius: 10px;
}
nav.paginacao {
    float: right !important;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 376px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 12px;
}
a.page-link {
    width: 40px;
    height: 40px;
    background: rgba(74, 163, 229, 0.2);
    border-radius: 10px;
    border: none;
    color: #000;
}
tr {
    background: #fff;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  input.form-control, .form-select {
    font-size: 13px;
}
thead.table-dark tr {
   
    /*text-align: center;*/
}
.dropdown.m-3.addevento.holeritswitch {
    font-size: 12px;
    
}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ADB5BD;
    -webkit-transition: .4s;
    transition: .4s;
    height: 16px;
    width: 40px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
   /* left: 4px;*/
    bottom: -2px;
    background-color: #495057;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #B4DFFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  a.btn.btn-success {
    width: max-content;
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    background:#38ABFF;
  }
.registros p{
    font-size: 12px;
    margin: 0px;
    text-align: center;
}
.row.btnsclientec {
    margin-left: 318px;
    margin-bottom: -26px;
    margin-top: 21px;
}
.row.btnsimposto {
    display: flex;
    right: 515px;
}
input.btn.btn-success.gerenciabtn {
    height: 55px;
}
.row.btnsimposto.position-absolute .btn {
    margin-left: 12px;
    font-size:14px;
    margin-right: -4px;
}
.dropdown.addnovo {
    width: 106px;
}
table.table.recisaotable.text-center td img {
    margin: 24px;
    cursor: pointer;
}
a.btn.btn-success.addmovimentacao {
    position: absolute;
    right:-244px;
    height:36px;
}
p.titulosecaoc {
    position: absolute;
    margin-left: 81px;
}
a.position-absolute.visualizarmodel {
    top: 86px;
    font-size: 12px;
    color: #74c83c;
    text-decoration: none;
    right: 9px;
}
.aviso{
    display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
width: 872px;
height: 52px;

/* Info / Ligher */

background: #B4DFFF;
/* Shadow / XL */

box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
border-radius: 8px;
}
i.fa.fa-info-circle.icoinfo {
    margin-top: -17px;
    font-size: 23px;
}
.marcadorativo{
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 16px;

width: 230px;
height: 74px;
margin: 20px 0px 0px 11px;

/* Cinza / 01 */

background: #FFFFFF;
/* Shadow / XL */

box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
border-radius: 12px;
}
.col-md-3.marcadorativo p {
    margin-top: 14px;
}
.col-md-3.marcadorinativo p {
    margin-top: 14px;
}
span.numero.btn.btn-primary.inativo {
    background: none;
    color: #0d6efd;
    font-weight: bold;
    border:1px solid rgba(74, 163, 229, 0.2)
}
.calAgenda {
   
         background: #F8F9FA !important;
    
    box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
    border-radius: 8px;
    
}
.row.permissao p {
    font-size: 10px;
}
.row.agendamento h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #4AA3E5;
}
.marcadorinativo{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 16px;

width: 221px;
height: 74px;

/* Cinza / 01 */

background: #FFFFFF;
/* Primária / 20% */

border: 1px solid rgba(74, 163, 229, 0.2);
border-radius: 12px;
margin: 20px 0px 0px 11px;
}
.row.btnscliente {
    
    margin-top: 144px;
    float: right;
    margin-right: -35px;
}
a.btn.btn-success.holerite {
    font-size: 15px;
}
.finalizado{
    display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;
gap: 8px;
color: #21AB1F;
width: fit-content;
height: 26px;
text-align: center;
font-weight: bold;
background: rgba(26, 222, 22, 0.2);
border-radius: 100px;
justify-content: center;

}
.addnovo{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 8px;

width: 191px;
height: 38px;

/* Info / Darker */

background: #004578;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
color: #fff;
font-size: 13px;
margin-left: 12px;
}
.addnovo:hover{
    background: #004579;
    color: #fff;
}
.exportar{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 8px;

width: 125px;
height: 38px;

/* Secundária / Main */

background: #74C83C;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-size: 13px;
}
.row.btnscliente .btn {
    margin-left: 24px;
}
.row.position-relative.tit {
    width: 200px;
    margin-left: 357px;
    margin-top: 20px;
    margin-bottom: -21px;
}
.remail{
    display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 4px 8px;
gap: 8px;
color: #4AA3E5;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(74, 163, 229, 0.2);
border-radius: 100px;
justify-content: center;
}
div#opcoes, div#addCliente, div#editCliente {
    --bs-modal-width: 1139px;
    
}
div#enviarArquivos, #importCadastro {
    --bs-modal-width: 924px;
}
#detalhesColaborador, #enviarDocumentos, #fPagamento {
    --bs-modal-width: 800px;
}
.botoesdoc {
    position: absolute;
    display: flex;
    margin-top: 24px;
    margin-left: 96px;
    align-items: center;
}
.row.anexos p {
    font-size: 12px;
}
.botoesdoc .btn {
    margin-left: -97px !important;
    font-size: 12px;
}
.botoesdoc a.btn.btn-danger {
    margin-left: 10px !important;
}
i.fa.fa-file-csv.iconcsv {
    font-size: 22px;
    color: #6cb6eb;
}
a.btn.btn-success.adddpendente {
    width: 181px;
    float: right;
    margin-top: -47px;
    font-size: 13px;
}
.col.col-md-4.itensinfra p {
    margin-top: -40px;
    margin-left: 52px;
}
.row.mt-4.infraestrutura img {
    width: 44px !important;
}
.row.mt-4.infraestrutura {
    font-size: 13px;
    color: gray;
  

  
}
table.table {
    font-size: 14px;
}
.row.inputsr {
    border-top: 1px solid rgba(74, 163, 229, 0.2);
    padding: 5px;
    border-bottom: 1px solid rgba(74, 163, 229, 0.2);
}
.rlocal{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
color: #9747FF;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(151, 71, 255, 0.2);
border-radius: 100px;
justify-content: center;
}

.reembolso{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
color: #FF452C;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(255, 69, 44, 0.2);;
border-radius: 100px;
justify-content: center;
}

.plr{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
color: #FA00FF;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(250, 0, 255, 0.2);
border-radius: 100px;
justify-content: center;
}

.diastrabalhados{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
color: #FF8541;
width: fit-content;
height: 26px;
font-weight: bold;
background: rgba(255, 133, 65, 0.2);
border-radius: 100px;
justify-content: center;
}
.container-fluid{
    padding: 0;
}
.col-md-6.mb-4 .btn {
    margin-left: 124px;
}
.permissao input {
   
    width: 20px;
    margin-top: 10px;
}
.permissao p {
    margin-top: -13px;
    margin-left: 10px;
}

#mainSlider .carousel-caption{
    top: 30%;
}
#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}
#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}
.main-btn{
    background-color: #65daf9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
}
.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65daf9;
}
.carousel-indicators .active{
    background-color: #65daf9;
    top: 10px;
}
/*sobre a empresa*/

#about-area{
    background-color:#f9f9f9;
}
.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
.main-title::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
#about-list{
    list-style: none;
    padding-left: 0;

}
#about-list i{
    color: #65daf9;
    margin-right: 15px;
}
.service-box{
    text-align: center;
    margin-bottom: 50px;
}
.service-box i, .service-box h4{
    transition:.5s;
}
.service-box i{
    font-size: 36px;
    margin-bottom:20px;
    color: #444;
}
.service-box h4{
    font-size: 24px;
    margin-bottom:20px
}
.service-box:hover >i, .service-box:hover>h4{
    color: #65daf9;
}

/*dados*/

.circle-box div{
    padding: 0 40px;
}
.progressbar-text{
    font-weight: bold;
    font-size: 26px;
}
#data-area p{
    color: #fff;
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}
/*login*/

div#about-area {
    
    background: #e9ecef;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.col-md-6.login-side {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.btn-success{
    background-color: #74c83c !important;
    border: none;
    width: 100%;
    

   /* padding: 15px;*/

}
.table .btn-success{
    font-size: 13px;
}

.login-side img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 34px;
}
.login-side input.form-control  {
    padding: 15px;
}
.login-side a{
    color: #74c83c;
    font-weight: bold;
    text-decoration: none;
}
.navbar-nav .btn{
    height: 35px;
}
.thumb {
    /* margin-left: 10px; */
    position: absolute;
    left: -22px;
    top: 1px;
}
.dropdown .btn {
    height: 35px;
    border: none;
    color: #4aa3e5;
}
.ticket.m-2 {
    margin-left: -9px !important;
}
a.dropdown-item {
    border-bottom: 1px solid rgba(74, 163, 229, 0.2);
    color: #868E96;
    font-size: 12px;
    margin: 5px;
    width:inherit;
    margin-left: 6px;
}
a.dropdown-item img {
    margin-right: 5px;
    margin-left: -11px;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 10px;
    width: min-content;
    /* height: 40px; */
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 12px;
}
div#perfilPessoal p {
    font-size: 12px;
}
/*div#perfilPessoal {
    width: 380px;
    height: auto;
    font-size: 13px;
}*/
.greentitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #74C83C;
}
.redolar{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-decoration-line: line-through;

/* Erro / Lighter */

color: #FFB5B5;
}
.precoPromo{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 70px;
/* identical to box height, or 125% */


/* Primária / Dark */

color: #3664BC;

}

.valPromo{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-decoration-line: line-through;

/* Erro / Lighter */

color: #ff452c;
}
#avaliacao1 .modal-footer.text-center {
    margin: 0 auto;
}
i.fa {
    margin-right: 9px;
}
aside {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px 32px;
    position: absolute;
    /* width: 248px; */
    /* height: 1166px; 
    left: 0px;
    top: 0px;
    z-index: 1;
    margin-top: 60px;*/
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 126px 19px 32px;

position: absolute;
width: 248px;

left: 0px;
top: 0px;

background: #FFFFFF;
   
}
.col.col-md-10.addEvento {
    margin-left: 285px;
    width: 948px;
}
.row.formempresa .btn {
    margin-right: 10px;
}
.colaboradoresf {
    /* background: #fff; */
    /* border-radius: 7px; */
    /* margin-left: 161px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px;
    gap: 32px;
    position: absolute;
    width: 800px;
    /* height: 656px; */
    left: 467px;
    top: 275px;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
    border-radius: 24px;
}

.col.col-md-2.submenu.u {
    margin-left: 247px;
}
.sidebar-sticky {
    background: #fff;
    margin-top: -25px;
}
a.nav-link {
    color: #868E96;
}
a.nav-link.active {
    background: #A7EF4B;
border-radius: 8px;
color: #000;
}
.col-md-9.btnreservah {
    position: absolute;
    right: 96px;
    top: 258px;
}

main {
    /* background: #fff; */
    /* margin-left: 253px; */
    /* margin-top: 101px; */
    /* border-radius: 7px; */
    /* margin-bottom: 20px; */
    /* padding: 26px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    position: absolute;
    width: 648px;
    height: auto;
    left: 280px;
    top: 112px;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
    border-radius: 24px;
}
/*main.col-md-9.ml-sm-auto.col-lg-9.pt-3.px-4 {
    background: #fff;
    margin-left: 253px;
    margin-top: 101px;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 3px;
    box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
}*/
.plan1 a.btn.btn-secondary {
    width: 100%;
}
.plan1 h4, .plan2 h4, .plan11 h4 {
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #157BC6;
}
.plan1 h1, .plan2 h1{
    
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 70px;
color: #74c83c;
}
.arquivos{
    display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 8px;

width: 168px;
height: auto;

/* Cinza / 100 */

background: #F8F9FA;
/* Primária / 36% */

border: 1px solid rgba(74, 163, 229, 0.36);
/* Shadow / L */

box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
border-radius: 8px;
}
input.form-control.pesquisar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 180px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
}
select.form-select.situacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 140px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
}
button.btn.btn-primary.headbusca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 99px;
    height: 50px;
    background: #4AA3E5;
    border-radius: 4px;
}
input.form-control.periodo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 140px;
    height: 56px;
   
    border: 1px solid #DEE2E6;
    border-radius: 8px;
}


.btarquivoslista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    width: 129px;
    height: 30px;
    background: #4AA3E5;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 12px;
    margin-left: 38px;
    position: absolute;
    right: 71px;
    top: 27px;
}
.searchbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-top: -63px;
    margin-left: 58px;
  
}
.searchbar .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 99px;
    height: 50px;
    background: #4AA3E5;
    border-radius: 4px;
    flex: none;
    order: 5;
    flex-grow: 0;
    border: none;
}

.visualizacao .btn {
    position: absolute;
    top: 2px;
    right: -220px;
}
.btarquivos {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    
    width: 136px;
    height: 38px;
    
    /* Primária / Main */
    
    background: #4AA3E5;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 12px;
    
   
}
a.btn.btn-primary.docbtn {
    background: none;
    color: #4aa3e5;
    border-color: #4aa3e5;
}

    .col.col-md-3.ms-2.mt-2.arquivos p {
        font-size: 13px;
        margin-bottom: 4px;
    }

.arquivosdiv{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 32px;
gap: 32px;
}
.visualizacao {
    position: absolute;
    right: -373px;
    top: -10px;
}
i.fa.fa-search.position-absolute.m-2.inputbusca {
    right: 11px;
    top: 13px;
    color: #4aa3e5;
}

i.fas.fa-calendar.position-absolute.m-2.inputdata1,i.fas.fa-calendar.position-absolute.m-2.inputdata2 {
    color: #4aa3e5;
    top: 11px;
}
.col-md-2.datain.position-relative .form-control, .col-md-2.datafi.position-relative .form-control {
    padding-left: 37px;
}
.fa-search{
    margin-left: 10px;
}
.lista {
    display: flex;
    /* flex-direction: column; */
    gap: 55px;
    width: 100%;
    /* height: 182px; */
    background: #F8F9FA;
    border: 1px solid rgba(74, 163, 229, 0.36);
    box-shadow: 0px 17px 33px -2px rgb(28 39 49 / 5%);
    border-radius: 8px;
    justify-content: center;
    height: 84px;
    align-content: center;
    align-items: baseline;
    position: relative;
    
}
.lista img {
    position: absolute;
    left: 13px;
    top: 22px;
}


a.btn.btn-danger.remover {
    border-radius: 100px;
    width: 16px;
    height: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: -16px;
    position: absolute;
    right: 22px;
    top: 28px;
}
table.table.resumo.dependentes {
 
    align-items: flex-start;
     background: #FFFFFF;
    box-shadow: 0px 17px 33px -2px rgb(28 39 49 / 5%);
    border-radius: 8px;
}
a.btn.btn-danger.remover i {
    font-size: 16px !important;
    color: #fff !important;
}
.col.col-md-3.ms-2.mt-2.lista i {
    font-size: 28px;
    color: #4aa3e5;
   
}
.visualizacao i{
    margin-left: 10px;
   
    color: #38ABFF;
    cursor: pointer;
}
.lista p {
    width: 285px;
    font-size: 14px;
    margin-top: 34px;
    margin-left: -150px;
    margin-right: 95px;
}
.arquivos i {
    font-size: 47px;
    color: #4AA3E5;
}
.col-md-2.minbusca input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 180px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.col-md-2.minbusca {
    position: absolute;
    top: 13px;
    right: 35px;
}
.minbusca i, .busca i {
    color: #4AA3E5;
    margin-top: 18px !important;
    left: 142px;
}
.col-md-10.busca {
    top: 13px;
    position: absolute;
    left: -520px;
}
.grafico1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

width: 568px;
height: 347px;

background: #FFFFFF;
/* Cinza / 200 */

border: 1px solid #E9ECEF;
/* Shadow / L */

box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.grafico2{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px;
gap: 16px;

width: 568px;
height: 262px;

/* Light/Base/Surface */

background: #FFFFFF;
/* Cinza / 200 */

border: 1px solid #E9ECEF;
/* Shadow / L */

box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.grafico2 h4{
    width: 108px;
height: 48px;

/* Title / Title-7 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* Cinza / 1000 */

color: #212529;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.red{
    color: red;
    font-size: 12px;
    margin-left: 242px !important;
    margin-bottom: 106px !important;
}
.titulosecao, .titulosecaod {
    width: 191px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #343A40 !important;
    left: 440px;
    margin-left: 334px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: -31px;
}
.tabelasect {
    background: #fff;
    border-radius: 7px;
    margin-left: 161px;
    /*width:813px;*/
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
}
.col.col-md-10.completarCadastro {
    margin-left: 284px;
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
    border-radius: 24px;
}
.gerenciarContas {
    background: #ebf6ed !important;
    border: 1px solid #004578;
    color: #004578;
    width: max-content;
}
.dropdown.addnovo .btn {
    color: #fff !important;
}
.titlesection{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px;
gap: 815px;

position: absolute;

height: 88px;
left: 280px;
top: 104px;
padding-top: 37px;
background: #FFFFFF;
/* Shadow / XL */

box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
border-radius: 16px;
}
.planoatual{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 16px;
color: #fff;
font-weight: bold;
position: absolute;
width: 130px;
height: 64px;
right: 0px;
top: 0px;

/* Info / Dark */

background: #157BC6;
border-radius: 50px 24px 0px 50px;
}
.rs{
    color: #A7EF4B;
}
.row.position-relatives {
    margin-bottom: -31px;
}
p.titulosecao {
    float: left;
    margin-left: -128px;
    width: max-content;
}
p.titulosecao.u{
    float: left;
    margin-left: -31px;
    width: max-content;
}
.flex-column {
    flex-direction: column!important;
    margin-left: -14px;
}
.titulosecaod {
    float: left;
    margin-left: -128px;
    width: max-content;
}
.titulosecao p, p.titulosecaod {
    font-size: 16px;
}
a.btn.btn-primary {
    background: #4aa3e5;
    border: none;
    color: #fff;
}
.titulo1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Cinza / 800 */

color: #495057;
}
.reservap {
    width: 384px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #343A40;
}
.reshorario {
    margin-right: -50px;
    margin-top: -12px;
    font-size: 14px;
    float: right;
    width: auto;
    background: #4AA3E5;
    border: none;
}
.periodo1 input, .periodo2 input{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 140px;
height: 56px;

background: #FFFFFF;
/* Cinza / 300 */

border: 1px solid #DEE2E6;
border-radius: 8px;
padding-left: 32px;
}
.situacao select{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 140px;
height: 56px;


/* Cinza / 300 */

border: 1px solid #DEE2E6;
border-radius: 8px;

}
.pesquisar,.periodo1, .periodo2{
    position: relative;
}

.pesquisar img {
    position: absolute;
    right: 10px;
    top: 20px;
}
.periodo1 img, .periodo2 img{
    position: absolute;
    left: 10px;
   top: 17px;

}
.pesquisar input{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 180px;
height: 56px;

background: #FFFFFF;
/* Cinza / 300 */

border: 1px solid #DEE2E6;
border-radius: 8px;
}
.formbusca{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 779px;
height: 56px;
margin-left: -803px;
margin-top: -22px;
}
a.btn.btn-success.btnres {
    /* float: right; */
    margin-left: 297px;
    position: absolute;
    right: 0px;
    top: -27px;
}
.col.col-md-10.correspondencia,.dados-empresa, .addColaborador, .holeritediv, .addSocio {
    margin-left: 171px;
    margin-top: 73px;
}
.plan1 {
   
     border-radius: 8px; 
        display: flex;
    flex-direction: column;
    align-items: flex-start;
padding: 0;
    
    gap: 24px;
    position: absolute;
    /* width: 1128px; */
    height: auto;
    left: 280px;
    top: 232px;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
    border-radius: 8px;
}
.tabprodutos.container img {
    margin-right: 38px;
}.maisprodutos{
    color: #74C83C;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}
.informefrete.container {
    margin-top: 250px;
}
p.titulosecao.titimport {
    margin-left: 29px;
}
.row.formempresa {
    width: 100%;
    margin-top: 16px;
}
#importarBtn, #mensalidadeBtn{
    border-bottom:1px solid #4aa3e5;
}
table.table.ultimasEmissoes {
    margin-top: 54px;
   
}
.ultimasEmissoes{
    display: none;
}
.produtostabs{
    border-radius: 8px; 
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
position: absolute;
/* width: 1128px; */
height: auto;
left: 280px;

background: #FFFFFF;
box-shadow: 0px 25px 40px -10px rgb(28 39 49 / 8%);
border-radius: 8px;

}
span.ano.gray {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}
.anografico {
    position: absolute;
    margin-top: 118px;
}
span.mei {
    margin-top: -3px;
    position: absolute;
    margin-left: 5px;
    font-size: 19px;
    color: #868E96;
    font-weight: bold;
}
span.year {
    font-weight: bold;
    color: #38ABFF;
}
.help {
    margin-top: 18px;
    margin-left: 21px;
    color: #4aa3e5;
    cursor: pointer;
 
}
.grafico2 h4 {
    margin-top: 67px;
    position: absolute;
}
.plan2 {
    background: #fff;
    height: auto;
    margin-left: 97px !important;
    border-radius: 8px;
    position: relative;
    margin-top: 35px;
    box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
}
.plan11 {
    background: #fff;
    height: auto;
    
    margin-left: 97px !important;
    border-radius: 8px;
    position: relative;
    margin-top: 35px;
    box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
}
.card.card-primary {
    margin-left: 287px;
    margin-top: 31px;
    border: none;
    font-size: 13px;
    background: #f2fcf3;
    width: 345px;
    margin-bottom: 48px;
}
div#calendar {
    background: #f2fcf3;
    border-bottom: 1px solid rgba(116, 200, 60, 0.2);
}
button.fc-prev-button.fc-button.fc-button-primary {
    background: #ff000000;
    color: #74C83C;
    border: none;
}
button.fc-next-button.fc-button.fc-button-primary {
    background: #ff000000;
    color: #74C83C;
    border: none;
}
h2#fc-dom-1 {
    font-size: 16px;
}
table.fc-scrollgrid.fc-scrollgrid-liquid {
    border: none;
}
table.fc-scrollgrid.fc-scrollgrid-liquid td {
    border: none;
}
th.fc-col-header-cell.fc-day {
    border: none;
}
a.fc-col-header-cell-cushion {
    color: #000;
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner a {
    color: #ADB5BD;
    text-decoration: none;
    cursor: pointer;
}
nav.col-md-2.d-md-block.bg-light.mt-5.sidebar {
    width: 100%;
}
.card-body {
    border: 1px solid #E9ECEF;
}
li.nav-item img {
   
    left: 20.83%;
    right: 20.83%;
    top: 12.5%;
    bottom: 12.5%;
    margin: 3px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    padding: 17px 108px;
   
    width: 100%; 
    height: 62px;
    
    bottom: 0px;
    background: linear-gradient(260.35deg, #74C83C -6.12%, #9AFF56 102.54%);
    margin-top: 277px;

}
textarea.form-control{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 10;
height: 112px;

background: #FFFFFF;
/* Cinza / 300 */

border: 1px solid #DEE2E6;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.form-select.dempresa, .form-control.dempresa{
    
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        gap: 8px;
        width: 206px;
        height: 56px;
        border: 1px solid #DEE2E6;
        border-radius: 8px;
        background-color: #fff;
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
 
}
.titulotela {
    
    margin-bottom: 67px;
}
.form-select, .form-control{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 100%;
height: 56px;


/* Cinza / 300 */

border: 1px solid #DEE2E6;
border-radius: 8px;
background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}
.container, .container-lg, .container-md, .container-sm {
    
    margin-top: 74px;
}
.col-md-7.indice {
    left: 283px;
    top: 198px;
    /* margin-bottom: 10px; */
    font-size: 14px;
    position: absolute;
}
.indice a{
    color: #ADB5BD;
}
.col.col-md-2.btns {
    position: absolute;
    right: 20px;
}

.btns .btn-danger{
    background: linear-gradient(261.38deg, #FF452C -5.12%, #FF988A 109.06%);
    border: none;
}
.btns .btn-primary{
    background-color: #004578;
    border: none;

}
.col-md-6.right-side p {
    margin-left: 169px;
}

.note{
    box-sizing: border-box;
    cursor: pointer;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
width: 100%;
height: 52px;
background: #FFF4BB;
box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
border-radius: 8px;
padding:26px 27px 8px;

margin-bottom: 13px;

}
.note p {
    margin-left: 0px !important;
}
.col.col-md-8.side {
    width: 100%;
    background: #f2fcf3;
    margin-top: 31px;
    
}
button.navbar-toggler.collapsed {
    margin-right: 25px;
}


@media screen and (max-width: 600px) {
    .navbar-nav {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        background: #fff;
    }
    .addmovimentacao{
        position: relative !important;
        right: 0px !important;

    }
    .row.btnsclientec .btn {
        width: max-content;
        margin: 5px;
    }
    .dropdown.addnovo {
        width: max-content;
    }
    
    .row.btnsimposto {
       
        right: -11px;
        /* width: max-content; */
    }
    .row.btnsclientec {
        margin-left: 0px;
        margin-bottom: 37px;
       
    }
    .row.btnsnfs {
        margin-top: 90px;
       
    }
    .nfe {
     
        left: 21px;
       
       
    }
    .col-md-3.btnf {
        display: none;
    }
    .container.movimenta {
        margin-top: -285px;
    }
    .form-control, .form-select {
       
        width: -webkit-fill-available;
       
    }
    .produtostabs {
        
        width: -webkit-fill-available;
        
        left: 0px;
      
        top: 1650px;
    }
    .tabprodutos.container {
        margin-top: 58px;
        top: -430px;
        position: absolute;
    }
    .importarcsv {
        margin-left: 96px;
        margin-top: 11px;
    }
    button.btncadproduto.recibo {
        margin-top: 0px;
    }
    .btncadproduto {
        margin-left: 133px;
        
        margin-top: 468px;
    }
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4 {
       
        margin-left: 0px;
        margin-bottom: 0px;
        width: 100%;
        
    }
    div#boasvindas {
        padding-right: 0px !important;
        width: 382px;
        margin-left: 5px;
    }
    .grafico2 h4 {
        margin-top: 133px;
        margin-left: -27px;
    }
    .anografico {
        position: absolute;
        margin-top: 182px;
        margin-left: -17px;
    }
    .titlesection {
     
        left: 13px;
        width: 405px;
    }
    .col-md-2.minbusca input {
       
        width: 136px;
      
        margin-left: 31px;
    }
    .modal-backdrop.fade.show {
        width: 100%;
        height: 100%;
    }
    .col.col-md-8.side {
        
         margin-left: 0px;
    }
    .row.btnscliente .btn {
        width: 332px;
        margin-top: 5px;
    }
    footer {
       
        margin-top:0px; 
    }
    .form-group.d-flex {
       
        display: block !important;
    }
    .card.card-primary {
        margin-left: 0px; 
        margin-top: 26px;
     
    }
    p.mt-2 {
        display: none;
    }
    .col.col-md-2.btns {
       
        right: 0;
    }
    .card-body h4 {
        font-size: 17px;
    }
    aside {
        /*display: none;*/
        z-index: 100;
        margin-top: 44px;
    background: none;
    }
    .plan11, .plan2, .plan1 {
    
        width: 100%;
    /* margin-left: 0px !important; */
    margin-top: 14px;
    left: -133px !important;
      
    }
    .row.menufinanceiro {
        width: max-content;
        margin-left: 102px;
        
    }
    button.btn.gerenciarContas {
        margin-left: 26px;
        margin-bottom: 10px;
    }
    .col.col-md-10.dados-empresa.indique {
        margin-top: 150px !important;
    }
    .row.btnsfinanceiro {
        display: flex;
        /* right: 236px; */
        flex-direction: column;
       
        top: -21px;
    }
    .col.col-md-10.addColaborador.financeiro {
        margin-top: 115px;
      
    }
    a.btn.addnovo.lembrete {
        margin-left: -159px;
    }
    .col.col-md-10.dados-empresa.perfil {
        margin-top: 150px !important;
    }
    .col-md-9.plan1.lembrete.mb-5.mt-5 {
        left: 0!important;
    }
    main.col-md-9.ml-sm-auto.col-lg-9.pt-3.px-4 {
      
        margin-left: 0px; 
        margin-top: 62px;
       
    }
    .col-md-9.plan1 .row {
        width: 306px;
    }
    main{
        left: -2px;
        padding: 21px;
        width: 100%;
    }
    .grafico1, .grafico2 {
        width: 100%;
    }
    .sidebar-sticky {
        background: #ffffff;
        margin-top: -35px;
        padding-top: 9px;
        margin-left: 6px;
    }
    .red {
       
       margin-left: 0px !important;
        
    }
    .col-md-2.minbusca {
        
        right: 5px;
        width: 167px;
    }
    body{
       
        height: auto;
    }
    .col-md-5.right-side {
        margin-top: 1143px;
       /* margin-left: 153px;*/
    }
    nav.col-md-2.d-md-block.bg-light.mt-5.sidebar {
        width: 243%;
        z-index: 99;
        margin-top: 183px !important;
        margin-left: -17px;
    }
    .col-md-7.indice {
         margin-left: 0px !important;
        
    }
   
    .col.col-md-2.submenu {
        left: 11px !important;
        text-align: center;
        z-index: 0;
        width: 100%;
        margin-top: 0px;
     
    }
    .row.btnsfluxoimposto {
        display: flex;
       right: -2px;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }
    .filtrosf select {
       
        width: 355px;
      
    }
    .row.filtrosf {
       
        margin-left: -75px;
    }
    .row.filtrosf .btn {
        
        width: 100% !important;
        
        margin-left: 27px !important;
    
    }
    .titulosecao, .titulosecaod {
       
        margin-left: 0px;
        display: none;
    }
        
    .row.bts .btn {
        font-size: 12px;
        width: max-content;
        margin-left: 20px;
    }
    .row.bts {
        margin-left: 20px;
        
    }
    button.btn.addnovo {
        width: max-content;
        right: -152px;
    }
    .col.col-md-3.ms-2.mt-2.lista .gray {
        display: none;
    }
    .col.col-md-3.ms-2.mt-2.lista p {
        visibility: hidden;
    }
    .searchbar {
        display: none;
    }
    .col.col-md-10.correspondencia, .dados-empresa{
        margin-top: 210px !important;
        margin-left: 0px;
        margin-left: -166px;
    }  
    .row.table-responsive {
        border-radius: 8px;
        width:356px;
       
        padding: 25px;
    } 
    .tabelasect, .colaboradoresf, .addEvento {
       
        width: 392px;
    margin-left: 146px;
       
    }
    .colaboradoresf, .addEvento{
        margin-left: -459px;
    top: 700px;
    }
    .dropdown.addevento {
        right: -39px !important;
        width: 100%;
    }
    .addColaborador{
        margin-left: 0px;
    }
    .btnscliente{
        margin-top: -12px;
    margin-left: -36px !important;
    }
    .col.col-md-10.addColaborador.eventos {
        margin-top: 395px;
    }
    .col.col-md-10.addColaborador.socios {
        margin-top: 162px;
       
    }
    .col.col-md-10.addColaborador.impostos {
        margin-top: 141px;
       
    }
    .col.col-md-2.submenu.movimentacoes {
       
        margin-top: 113px;
    }
    span.slider.round.a {
     margin-left: 0px;
    }
    .row.btnsclientec.holerit {
        margin-left: -5px !important;
    }
    .reshorario {
        margin-right: -11%;
        /* margin: 0 auto; */
        margin-top: -25px;
        font-size: 12px;
        width: 125%;
       
    }
    .plan1 h1, .plan2 h1 {
       
        font-size: 42px;
       
    }
    
    .row.bts.mt-3 .col-md-12 {
        margin-left: -16px !important;
    }
    p.titulosecaoc {
        
       display: none;
    }
    p.titulosecao {
        
        margin-left: -31px;
    }
    .row.agendamento, .formempresa, .formAddColaborador {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .col.col-md-10.dados-empresa {
        margin-top: 341px !important;
    }
    .row.position-relative.tit {
         width: 100%; 
        margin-left: 0;
    }
    .visualizacao {
       right: 135px !important;
       top: -9px;
       font-size: 13px;
    }
    .arquivosdiv{
    
    padding: 0px;
    margin-top: 90px;
   
    }
    .visualizacao .btn {
        margin-top: 1px;
    right: -176px;
    font-size: 13px;
    width: auto;
    }
    .row.btnscliente {
        margin-left: 0px;
        margin-bottom: -31px;
        margin-top: 127px;
    
       
    }
    .dropdown.addrecisao {
       
        right: 134px !important;
    }
    li.nav-item.filter {
        margin-bottom: 8px;
    }
    button.btn.btn-primary.headbusca {
        width: 100%;
    }
    .col.aviso.pt-3 p {
        font-size: 10px;
    }
    .col.col-md-2.submenu.parcelamento {
        left: 11px !important;
      
        margin-top: 44px;
    }
    .col.col-md-2.submenu.u {
        margin-left: 0px;
    }
    .col.col-md-2.submenu.documentos{
       
        margin-top: 56px;
    }
    .col.col-md-10.addColaborador {
        margin-top: 505px;
        margin-left: -154px;
    }
    .col.col-md-10.addColaborador.enderecofiscal {
        margin-top: 118px;
    margin-left: -167px;
    }
    .col.col-md-10.addColaborador.centraldocumentos {
        margin-top: 229px;
        margin-left: -167px;
    }
    .col.col-md-2.submenu.central {
       
        margin-top: 75px;
    }
    .col.col-md-2.submenu.salas {
        left: 10px !important;
       
        margin-top: 55px;
    }
    .plan11, .plan2, .plan1.servicosa {
     
        left: 0px !important;
        height: auto !important;
    }
    .col-md-9.btnreservah {
        margin-top: 22px;
        margin-left: 25px;
    }
    .col.data {
        margin-left: -34px;
        margin-top: 7px;
    }
    .anexos {
        
     
        margin-left: -21px;
    width: fit-content;
    }
    .row.pisctps, .row.descontosProventos, .row.horarios, .row.proventos {
        display: block;
    }
   
    .col.col-md-10.addSocio {
        margin-top: 157px;
        
    }
    .row.socio {
        display: block;
    }
    .addSocio{
        margin-left: 0px;
    }
    p.titulosecaos{
        display: none;
    }
    
  
     
}
